* {
    margin: 0;
    padding: 0;
}

/* 手机 */
@media screen and (max-width: 600px){
    body {
        height: 100%;
        width: 100vh;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(-90deg, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    }
}

/* PC */
@media screen and (min-width: 960px){
    body {
        height: 100%;
        width: 60vh;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(-90deg, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    }
}

.header {
    width: 100%;
    height: 20vh;
    background: #003541;
}

.content {
    width: 100%;
    height: 80vh;
    background: #d5dee7;
}